<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graficos.grafico1.leyenda}}</h4>
                <app-grafico-dona [ChartData]="graficos.grafico1.data" [ChartLabels]="graficos.grafico1.labels" ChartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graficos.grafico2.leyenda}}</h4>
                <app-grafico-dona [ChartData]="graficos.grafico2.data" [ChartLabels]="graficos.grafico2.labels" ChartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graficos.grafico3.leyenda}}</h4>
                <app-grafico-dona [ChartData]="graficos.grafico3.data" [ChartLabels]="graficos.grafico3.labels" ChartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graficos.grafico4.leyenda}}</h4>
                <app-grafico-dona [ChartData]="graficos.grafico4.data" [ChartLabels]="graficos.grafico4.labels" ChartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->