<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">

        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#empresa" role="tab" aria-expanded="false">EMPRESA</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cliente" role="tab" aria-expanded="false">CLIENTE</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">




                    <!--PRIMER TAB-->
                    <div class="tab-pane active" id="empresa" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="card-body col-lg-6 col-xlg-6 col-md-6">
                                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCliente(f)" class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Nombre Completo</label>
                                        <div class="col-md-12">
                                            <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Message</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12">Select Country</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line">
                                                                <option>London</option>
                                                                <option>India</option>
                                                                <option>Usa</option>
                                                                <option>Canada</option>
                                                                <option>Thailand</option>
                                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-success">Editar Perfil</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="card-body col-lg-6 col-xlg-6 col-md-6">
                                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCliente(f)" class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Nombre Completo</label>
                                        <div class="col-md-12">
                                            <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Message</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-12">Select Country</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line">
                                                                    <option>London</option>
                                                                    <option>India</option>
                                                                    <option>Usa</option>
                                                                    <option>Canada</option>
                                                                    <option>Thailand</option>
                                                                </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-success">Editar Perfil</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>



                    </div>


                    <!--SEGUNDO TAB-->
                    <div class="tab-pane" id="cliente" role="tabpanel" aria-expanded="false">
                        <div class="card-body">
                            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCliente(f)" class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Nombre Completo</label>
                                    <div class="col-md-12">
                                        <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="password" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Message</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" class="form-control form-control-line"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-12">Selecciona un servicio</label>
                                    <div class="col-sm-12">
                                        <select (change)="cambioServicio( $event.target.value )" [(ngModel)]="cliente.servicio" name="servicio" class="form-control form-control-line" required>
                                            <option value="">Seleccione un servicio</option>
                                            <option *ngFor="let servicio of servicios" [value]="servicio._id" >
                                                {{ servicio.nombre }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">Editar Perfil</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- /.row 
























<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Cliente: {{cliente.nombre}}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">


                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCliente(f)">
                        <div class="form-group">
                            <label>Nombre del cliente</label>
                            <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del cliente" required>
                        </div>


                        <div class="form-group">
                            <label>Servicio</label>
                            <select (change)="cambioServicio( $event.target.value )" [(ngModel)]="cliente.servicio" name="servicio" class="form-control" required>
                                <option value="">Seleccione un servicio</option>
                                <option *ngFor="let servicio of servicios" [value]="servicio._id" >
                                    {{ servicio.nombre }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select (change)="cambioEstado( $event.target.value )" [(ngModel)]="cliente.estado" name="estado" class="form-control" required>
                                <option value="">Status del cliente</option>
                                <option *ngFor="let estado of estados" [value]="estado._id" >
                                    {{ estado.nombre }}
                                </option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                        <a [routerLink]="['/clientes']" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 " *ngIf="servicio._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Servicio</h4>
            <img [src]="servicio.img | imagen:'servicio'" class="rounded img-fluid">
        </div>
    </div>

    <div class="col-md-4 " *ngIf="estado._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Estado</h4>
            <img [src]="estado.img | imagen:'estado'" class="rounded img-fluid">
        </div>
    </div>

    <div class="col-md-4" *ngIf="cliente._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografia</h4>
            <img (click)="cambiarFoto()" [src]="cliente.img | imagen:'cliente'" class="roudend img-fluid pointer">
        </div>
    </div>

</div>
<!-- ============================================================== 
<div class="pro-img m-t-20"><img src="../assets/images/users/4.jpg" alt="user"></div>
-->